<!-- templates/crear_intercambio.html -->
{% extends "homepage/base.html" %}
{% block content %}
<div class="container">
    <h1>Crear Intercambio</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="producto_solicitante_id" value="{{ producto_solicitante.id }}">
        <div class="mb-3">
            <label for="producto_solicitante" class="form-label">Producto Solicitante:</label>
            <p>{{ producto_solicitante.nombre }}</p>
        </div>
        <div class="mb-3">
            <label for="producto_receptor" class="form-label">Producto Receptor:</label>
            <p>{{ producto_receptor.nombre }}</p>
        </div>
        <div class="mb-3">
            <label for="cliente_solicitante" class="form-label">Cliente Solicitante:</label>
            <p>{{ request.user }}</p>
        </div>
        <div class="mb-3">
            <label for="cliente_receptor" class="form-label">Cliente Receptor:</label>
            <p>{{ producto_receptor.cliente }}</p>
        </div>
        <div class="mb-3">
            <label for="producto_receptor" class="form-label">Dia:</label>
            <p>{{ producto_receptor.dias }}</p>
        </div>
        <div class="mb-3">
            <label for="horario" class="form-label">Horario:</label>
            {{ form.horario }}
        </div> 
        
        <button type="submit" class="btn btn-primary">Solicitar Intercambio</button>
    </form>
</div>




{% endblock %}
