{% extends "homepage/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Registrar Venta</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="monto_total">Monto Total</label>
            <input type="number" class="form-control" id="monto_total" name="monto_total" step="0.01" required>
        </div>
        <div class="form-group">
            <label for="sucursal">Sucursal</label>
            <select class="form-control" id="sucursal" name="sucursal" required>
                {% for sucursal in sucursales %}
                <option value="{{ sucursal.nombre }}">{{ sucursal.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="producto">Productos</label>
            {% for producto in productos %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ producto.id }}" id="producto{{ producto.id }}"
                    name="producto">
                <label class="form-check-label" for="producto{{ producto.id }}">
                    {{ producto.nombre }}
                </label>
                <input type="number" class="form-control mt-2" name="cantidad" placeholder="Cantidad" min="1">
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Registrar Venta</button>
    </form>
</div>
{% endblock %}