<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Ferreplus{% endblock %}</title>
</head>

<body>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
<footer>
  <p>&copy; Ferreplus</p>
</footer>
</html>