{% extends "homepage/base.html" %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        {% block content %}
        <p>Pagina de inicio</p>
        <p>La hice para poner botones asi hacia lo de iniciar sesion y eso</p>
        <p>Despues lo hacemos mas lindo ahora esta re feo</p>
        {% endblock %}
    </main>
</body>
</html>