{% extends "homepage/base.html" %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block content %}
<div class="row">
    {% if lista%}
    {% for producto in lista %}
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ producto.imagen_principal.url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <a href="#" class="btn btn-primary stretched-link">Ver más</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <h1>No tenes ningun producto master</h1>
    {% endif %}
</div>
{% endblock %}

    </body>
</html>