{% extends "homepage/base.html" %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    {% block content %}
        <h1>Subir un producto</h1>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

            
                <div>
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                </div>

                <div>
                    <div class="mb-3">
                        <label for="estado" class="form-label"></label>
                        <select class="form-select" id="estado" name="estado" required>
                            <option value="" selected disabled>Seleccionar Estado</option>
                            {% for valore in estados_list %}
                            <option value="{{ valore }}">{{ valore }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div>
                    <div class="mb-3">
                        <label for="categoria" class="form-label"></label>
                        <select class="form-select" id="categoria" name="categoria" required>
                            <option value="" selected disabled>Seleccionar Categoría</option>
                            {% for valorc in categorias_list %}
                            <option value="{{ valorc }}">{{ valorc }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div>
                    <div class="mb-3">
                        <label for="horario_inicio" class="form-label"></label>
                        <select class="form-select" id="horario_inicio" name="horario_inicio" required>
                            <option value="" selected disabled>Inicio de tu Disponibilidad</option>
                            {% for valorh in horarios_list_inicio %}
                            <option value="{{ valorh }}">{{ valorh }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </div>
                    <div>
                        <div class="mb-3">
                            <label for="horario_fin" class="form-label"></label>
                            <select class="form-select" id="horario_fin" name="horario_fin" required>
                                <option value="" selected disabled>Fin de tu Disponibilidad</option>
                                {% for valorh in horarios_list_fin %}
                                <option value="{{ valorh }}">{{ valorh }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        </div>
                </div>

                <div>
                    <div class="mb-3">
                        <label for="sucursal" class="form-label"></label>
                        <label for="sucursal" class="form-label"></label>
                        <select class="form-select" id="sucursal" name="sucursal" required>
                            <option value="" selected disabled>Seleccionar Sucursal</option>
                            {% for sucursal in sucursales %}
                            <option value="{{ sucursal.nombre }} - {{ sucursal.ciudad }}">{{ sucursal.nombre }} - {{ sucursal.ciudad }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br></br>
                <div class="custom-file">
                    {{ form.imagen_principal }}
                    <label class="custom-file-label" for="imagen_principal">Selecciona una imagen OBLIGATORIA</label>
                </div>
                <br></br>
                <div class="custom-file">
                    {{ form.imagen_extra1 }}
                    <label class="custom-file-label" for="imagen_extra1">Selecciona otra imagen opcional</label>
                </div>
                <br></br>
                <div class="custom-file">
                    {{ form.imagen_extra2 }}
                    <label class="custom-file-label" for="imagen_extra2">Selecciona otra imagen opcional</label>
                </div>
                <br></br>
                <div class="custom-file">
                    {{ form.imagen_extra3 }}
                    <label class="custom-file-label" for="imagen_extra3">Selecciona otra imagen opcional</label>
                </div>
                <br></br>
                <input type="submit" value="Subir producto" class="btn btn-dark">
            </form>  
            
            
            <script>
                document.querySelector('.custom-file-input input[type="file"]').addEventListener('change', function (e) {
                    var fileName = e.target.files[0].name;
                    var label = document.querySelector('.custom-file-input label');
                    label.textContent = fileName;
                });
            </script>
    {% endblock %}
    </body>
</html>