{% extends "homepage/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Gráfico de intercambios por fechas</h1>
    <form class="form-inline mb-4" method="get" id="dateForm">
        <div class="form-group mr-3">
            <label for="fecha_inicio" class="mr-2">Fecha inicio:</label>
            <input type="text" id="fecha_inicio" name="fecha_inicio" class="form-control datepicker" value="{{ fecha_inicio }}" placeholder="DD-MM-YYYY" autocomplete="off">
        </div>
        <div class="form-group mr-3">
            <label for="fecha_fin" class="mr-2">Fecha fin:</label>
            <input type="text" id="fecha_fin" name="fecha_fin" class="form-control datepicker" value="{{ fecha_fin }}" placeholder="DD-MM-YYYY" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
    <div class="card text-center">
        <div class="card-body">
            {% if graphic %}
            <img src="data:image/png;base64,{{ graphic }}" class="img-fluid" alt="Gráfico de pagos">
            {% else %}
            <p>No hay datos para mostrar.</p>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<script>
$(document).ready(function() {
    var today = new Date();
    var startDateInput = $('#fecha_inicio');
    var endDateInput = $('#fecha_fin');

    // Configurar el Datepicker en los campos de fecha_inicio y fecha_fin
    startDateInput.datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true,
        endDate: today // Restringir selección a fechas anteriores o iguales a hoy
    }).on('changeDate', function (selected) {
        var startDate = new Date(selected.date.valueOf());
        endDateInput.datepicker('setStartDate', startDate);
        endDateInput.datepicker('setEndDate', today); // Asegurar que fecha fin no sea mayor a hoy
    });

    endDateInput.datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true,
        endDate: today // Restringir selección a fechas anteriores o iguales a hoy
    });

    // Prevenir entrada manual de fechas mayores a hoy
    startDateInput.on('keydown', function(event) {
        event.preventDefault();
    });

    endDateInput.on('keydown', function(event) {
        event.preventDefault();
    });

    $('#dateForm').submit(function(event) {
        var startDate = startDateInput.datepicker('getDate');
        var endDate = endDateInput.datepicker('getDate');

        if (!startDate) {
            alert('Por favor, complete la fecha de inicio.');
            event.preventDefault();
        } else if (!endDate) {
            alert('Por favor, complete la fecha de fin.');
            event.preventDefault();
        } else if (endDate < startDate) {
            alert('La fecha fin debe ser mayor o igual que la fecha de inicio.');
            event.preventDefault();
        }
    });
});
</script>

{% endblock %}