{% extends "homepage/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .chart-container {
            width: 45%;
            margin: 20px 0;
        }

        .info-box {
            width: 90%;
            margin: 20px auto;
            padding: 20px;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            text-align: center;
            font-size: 1.2em;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="info-box">
        {% if relacion_trueques_ventas is not None %}
        <p>Por cada trueque realizado se registraron {{ relacion_trueques_ventas|floatformat:2 }} ventas.</p>
        {% else %}
        <p>No hay suficientes datos para calcular la relación trueques/ventas.</p>
        {% endif %}
    </div>

    <div class="container">
        <div class="chart-container">
            <h2>Ingresos por Sucursal</h2>
            <canvas id="pieChartIngresos"></canvas>
        </div>
        <div class="chart-container">
            <h2>Ingresos por Tiempo</h2>
            <canvas id="barChartIngresos"></canvas>
        </div>
        <div class="chart-container">
            <h2>Cantidad de Ventas por Sucursal</h2>
            <canvas id="pieChartVentas"></canvas>
        </div>
        <div class="chart-container">
            <h2>Cantidad de Ventas en el Tiempo</h2>
            <canvas id="barChartVentas"></canvas>
        </div>
    </div>

    <div class="button-container">
        <a class="btn btn-primary btn-large" href="{% url 'ventas_dashboard' %}">Ingresos via trueques</a>
    </div>

    <script>
        // Datos de ejemplo 
        var sucursales = ["Sucursal A", "Sucursal B", "Sucursal C"];
        var ingresosPorSucursal = [3000, 2000, 1000];

        var fechas = ["Enero", "Febrero", "Marzo", "Abril"];
        var ingresosPorTiempo = [1000, 1500, 2000, 2500];

        var ventasPorSucursal = [150, 100, 50];

        var ventasPorTiempo = [20, 30, 40, 50];

        var pieCtxIngresos = document.getElementById('pieChartIngresos').getContext('2d');
        var pieChartIngresos = new Chart(pieCtxIngresos, {
            type: 'pie',
            data: {
                labels: sucursales,
                datasets: [{
                    label: 'Ingresos',
                    data: ingresosPorSucursal,
                    backgroundColor: ['#ff6384', '#36a2eb', '#cc65fe']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                let label = context.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'USD' }).format(context.raw);
                                return label;
                            }
                        }
                    }
                }
            }
        });

        var barCtxIngresos = document.getElementById('barChartIngresos').getContext('2d');
        var barChartIngresos = new Chart(barCtxIngresos, {
            type: 'bar',
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Ingresos',
                    data: ingresosPorTiempo,
                    backgroundColor: '#36a2eb'
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                let label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'USD' }).format(context.raw);
                                return label;
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Configuración del gráfico de torta de cantidad de ventas por sucursal
        var pieCtxVentas = document.getElementById('pieChartVentas').getContext('2d');
        var pieChartVentas = new Chart(pieCtxVentas, {
            type: 'pie',
            data: {
                labels: sucursales,
                datasets: [{
                    label: 'Cantidad de Ventas',
                    data: ventasPorSucursal,
                    backgroundColor: ['#ff9f40', '#4bc0c0', '#9966ff']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                let label = context.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += new Intl.NumberFormat('es-ES').format(context.raw);
                                return label;
                            }
                        }
                    }
                }
            }
        });

        var barCtxVentas = document.getElementById('barChartVentas').getContext('2d');
        var barChartVentas = new Chart(barCtxVentas, {
            type: 'bar',
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Cantidad de Ventas',
                    data: ventasPorTiempo,
                    backgroundColor: '#ff9f40'
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                let label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += new Intl.NumberFormat('es-ES').format(context.raw);
                                return label;
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>

</html>

{% endblock %}