{% extends "homepage/base.html" %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Iniciar Sesión{% endblock %}</title>
</head>

<body>
  {% block content %}
  <h2>Iniciar sesión</h2>
  <form method="post">
   {% csrf_token %}
    <form>
      <div class="form-control form-control-sm">
        <div class="col-xs-3">
          <label for="exampleUsername" class="form-label">Ingrese su nombre de usuario</label>
          <input type="text" class="form-control mx-sm-3" name="username" aria-describedby="emailHelp" placeholder="Nombre de usuario" style="width: 250px;">
          <div id="emailHelp" class="form-text">Nunca compartiremos tu e-mail con nadie más.</div>
        </div>
      </div>
      <div class="form-control form-control-sm">
        <div class="col-xs-3">
          <label for="examplePassword1" class="form-label">Ingrese su contraseña</label>
          <input type="password" class="form-control mx-sm-3" name="password" placeholder="Contraseña" style="width: 250px;">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
  </form>
</body>

</html>
{% endblock %}