{% extends "homepage/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card bg-dark">
                    <div class="card-body text-white">
                        <h1 class="display-1 mt-5">¡Mail enviado!</h1>
                        <h5 class="display-5 mb-4">Se ha mandado un token a su correo electronico</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    {% endblock %}  
</body>
</html>