{% extends "homepage/base.html" %}
{% block content %}
<h1>Actualizar contraseña</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card bg-dark">
                <div class="card-body text-white">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="btn btn-primary mt-3" value="Actualizar contraseña">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}