{% extends "homepage/base.html" %}

<html>
    <body>
        {% block content %}
        <h4 class="display-4">Escribe el motivo de tu decision</h4>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating">
                <textarea class="form-control" placeholder="Motivo del rechazo" id="floatingTextarea2" style="height: 100px" name="motivo"></textarea>
                <label for="floatingTextarea2">Motivo del rechazo</label>
            </div>
            <br></br>
            <div>
                <button type="submit" class="btn btn-success" onclick="return confirm('¿Estás seguro de que deseas enviar este motivo?')">Enviar motivo</button>
            </div>
        </form>
        {% endblock %}
    </body>
</html>