{% extends "homepage/base.html" %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      {% block content %}
      <style> 
        .carousel-item {
          justify-content: center; 
          align-items: center; 
          height: 50vh; 
      }
    
        .carousel-item img {
            max-width: 100%; 
            max-height: 100%; 
            object-fit: contain; 
        }
      </style>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ servicio.imagen.url }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="card-body">

        <div class="mb-4">
          {% if servicio.descripcion %}
          <h6 class="display-8">Descripcion: {{ servicio.descripcion }}</h6>
          {% endif %}
        </div>
        <div class="mb-4">
            <h8 class="display-8">Sucursal a publicar: {{ servicio.sucursal.nombre }} - {{ servicio.sucursal.ciudad }}</h8>
        </div>      
        <div class="mb-4">
            <h8 class="display-8">Estado: {% if servicio.estado == 'pendiente' %} Pendiente de aprobacion 
              {% elif servicio.estado == 'aceptado' %} Aceptado, ya podes pagarlo para publicarlo
              {% elif servicio.estado == 'rechazado' %} Rechazado, revisa tu correo para saber el motivo
              {% elif servicio.estado == 'publicado' %} Tu servicio ya esta siendo ofertado en nuestro sitio! {% endif %}</h8>
        </div>

        {% if servicio.estado == 'aceptado' %}
            <a href="{% url 'pagar_publicacion' servicio.slug %}" class="btn btn-primary">Pagar</a>
        {% endif %}
        {% if servicio.estado == 'pendiente' %}
            <form method="post">
              {% csrf_token %}
              <button type="submit" name="accion" value="cancelar" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas Cancelar esta publicacion de Servicio?')">Cancelar</button>
            </form>
        {% endif %}
      </div>
          
  {% endblock %}          

    </body>
</html>